In [5]:
import os
import geopandas as gpd

In [6]:
grid = gpd.read_file('../QGIS/aglomerados_subnormais/shapefile_sampled_data/shapefile_sampled_data.shp')
grid

,fid,CD_MUN,NM_MUN,SIGLA,AREA_KM2,id,left,top,right,bottom,...,AP3_NO_BAI,Shape_Leng,Shape_Area,deprived_a,_count,_sum,_mean,area_total,class,geometry
0,4450.0,3550308,São Paulo,SP,1521.202,4450.0,313921.320095,7.408279e+06,314021.320095,7.408179e+06,...,ANHANGUERA,0.02487,0.000011,7151.248741,0.050887,0.534391,10.501437,9999.450,1,"POLYGON ((-46.82029 -23.42480, -46.82030 -23.4..."
1,4451.0,3550308,São Paulo,SP,1521.202,4451.0,313921.320095,7.408179e+06,314021.320095,7.408079e+06,...,ANHANGUERA,0.02487,0.000011,7923.951010,0.050888,0.534394,10.501437,9999.450,1,"POLYGON ((-46.82030 -23.42571, -46.82031 -23.4..."
2,5178.0,3550308,São Paulo,SP,1521.202,5178.0,314021.320095,7.408279e+06,314121.320095,7.408179e+06,...,ANHANGUERA,0.02487,0.000011,9999.459049,0.050887,0.534391,10.501437,9999.459,1,"POLYGON ((-46.81931 -23.42481, -46.81932 -23.4..."
3,5179.0,3550308,São Paulo,SP,1521.202,5179.0,314021.320095,7.408179e+06,314121.320095,7.408079e+06,...,ANHANGUERA,0.02487,0.000011,8237.508823,0.050888,0.534395,10.501437,9999.459,1,"POLYGON ((-46.81932 -23.42572, -46.81934 -23.4..."
4,5180.0,3550308,São Paulo,SP,1521.202,5180.0,314021.320095,7.408079e+06,314121.320095,7.407979e+06,...,ANHANGUERA,0.02487,0.000011,8190.512394,0.050888,0.278058,5.464097,9999.459,1,"POLYGON ((-46.81934 -23.42662, -46.81935 -23.4..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7513,129030.0,3550308,São Paulo,SP,1521.202,129030.0,331021.320095,7.399079e+06,331121.320095,7.398979e+06,...,None,NaN,NaN,NaN,0.050927,3.490299,68.535295,10000.950,0,"POLYGON ((-46.65401 -23.50973, -46.65402 -23.5..."
7514,183702.0,3550308,São Paulo,SP,1521.202,183702.0,338521.320095,7.391879e+06,338621.320095,7.391779e+06,...,None,NaN,NaN,NaN,0.050955,3.076775,60.382126,10001.562,0,"POLYGON ((-46.58136 -23.57551, -46.58137 -23.5..."
7515,330663.0,3550308,São Paulo,SP,1521.202,330663.0,358721.320095,7.401379e+06,358821.320095,7.401279e+06,...,None,NaN,NaN,NaN,0.050931,2.694230,52.899609,10003.073,0,"POLYGON ((-46.38257 -23.49161, -46.38258 -23.4..."
7516,19003.0,3550308,São Paulo,SP,1521.202,19003.0,315921.320095,7.408979e+06,316021.320095,7.408879e+06,...,None,NaN,NaN,NaN,0.050886,1.999169,39.287205,9999.633,0,"POLYGON ((-46.80064 -23.41871, -46.80065 -23.4..."
7517,63681.0,3550308,São Paulo,SP,1521.202,63681.0,322021.320095,7.381979e+06,322121.320095,7.381879e+06,...,None,NaN,NaN,NaN,0.050981,2.886597,56.620651,10000.179,0,"POLYGON ((-46.74417 -23.66316, -46.74418 -23.6..."

In [15]:
def encontrar_arquivos_duplicados(diretorio):
    verificados = []
    duplicados = []

    for _, _, arquivos in os.walk(diretorio):
        print(len(arquivos))
        for nome_arquivo in arquivos:
            fid = int(nome_arquivo.split('_')[0])

            if fid in verificados:
                duplicados.append(fid)
            else:
                verificados.append(fid)

            # find in grid
            if fid in grid['fid'].values:
                verificados.append(fid)
            else:
                print(f'fid {fid} not found')
                
    # print(verificados)
    return duplicados

# Exemplo de uso
diretorio = './GEE_SENT2_RGB_2020_05'
arquivos_duplicados = encontrar_arquivos_duplicados(diretorio)

if arquivos_duplicados:
    print("Arquivos duplicados encontrados:")
    for original, duplicado in arquivos_duplicados:
        print(f"Original: {original} | Duplicado: {duplicado}")
else:
    print("Nenhum arquivo duplicado encontrado.")

7518
Nenhum arquivo duplicado encontrado.

In [12]:
# grid['fid'].values
grid[grid['fid'] == int('296592')]

,fid,CD_MUN,NM_MUN,SIGLA,AREA_KM2,id,left,top,right,bottom,...,AP3_NO_BAI,Shape_Leng,Shape_Area,deprived_a,_count,_sum,_mean,area_total,class,geometry
5476,296592.0,3550308,São Paulo,SP,1521.202,296592.0,354021.320095,7.386879e+06,354121.320095,7.386779e+06,...,None,NaN,NaN,NaN,0.050979,1.371799,26.909212,10002.74,0,"POLYGON ((-46.43000 -23.62213, -46.43001 -23.6..."