In [1]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Polygon, Point, shape
from sklearn.model_selection import train_test_split

In [2]:
grid = gpd.read_file('../QGIS/aglomerados_subnormais/shapefile_grid_agsn_area_ntl/shapefile_grid_agsn_area_ntl.shp')
grid

,fid,CD_MUN,NM_MUN,SIGLA,AREA_KM2,id,left,top,right,bottom,...,AP3_NU_END,AP3_NO_BAI,Shape_Leng,Shape_Area,deprived_a,_count,_sum,_mean,area_total,geometry
0,64.0,3550308,São Paulo,SP,1521.202,64.0,313321.320095,7.410079e+06,313421.320095,7.409979e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,1355.861,"POLYGON ((-46.82602 -23.40915, -46.82613 -23.4..."
1,786.0,3550308,São Paulo,SP,1521.202,786.0,313421.320095,7.410679e+06,313521.320095,7.410579e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,1822.031,"POLYGON ((-46.82530 -23.40379, -46.82517 -23.4..."
2,787.0,3550308,São Paulo,SP,1521.202,787.0,313421.320095,7.410579e+06,313521.320095,7.410479e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,5184.709,"POLYGON ((-46.82508 -23.40486, -46.82511 -23.4..."
3,788.0,3550308,São Paulo,SP,1521.202,788.0,313421.320095,7.410479e+06,313521.320095,7.410379e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,945.649,"POLYGON ((-46.82503 -23.40534, -46.82508 -23.4..."
4,791.0,3550308,São Paulo,SP,1521.202,791.0,313421.320095,7.410179e+06,313521.320095,7.410079e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,5515.056,"POLYGON ((-46.82586 -23.40846, -46.82582 -23.4..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154243,343784.0,3550308,São Paulo,SP,1521.202,343784.0,360521.320095,7.399679e+06,360621.320095,7.399579e+06,...,167.0,CIDADE KEMEL,0.016803,0.000005,3820.861193,NaN,NaN,NaN,3911.751,"POLYGON ((-46.36567 -23.50719, -46.36567 -23.5..."
154244,343785.0,3550308,São Paulo,SP,1521.202,343785.0,360521.320095,7.399579e+06,360621.320095,7.399479e+06,...,167.0,CIDADE KEMEL,0.016803,0.000005,1551.597297,NaN,NaN,NaN,2246.296,"POLYGON ((-46.36576 -23.50802, -46.36578 -23.5..."
154245,343786.0,3550308,São Paulo,SP,1521.202,343786.0,360521.320095,7.399479e+06,360621.320095,7.399379e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,2195.779,"POLYGON ((-46.36594 -23.50893, -46.36594 -23.5..."
154246,343787.0,3550308,São Paulo,SP,1521.202,343787.0,360521.320095,7.399379e+06,360621.320095,7.399279e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,2202.855,"POLYGON ((-46.36582 -23.50986, -46.36586 -23.5..."
154247,343788.0,3550308,São Paulo,SP,1521.202,343788.0,360521.320095,7.399279e+06,360621.320095,7.399179e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,657.909,"POLYGON ((-46.36598 -23.51079, -46.36601 -23.5..."

In [4]:
# remove edges
grid = grid[grid['area_total'] > 9999]
grid

,fid,CD_MUN,NM_MUN,SIGLA,AREA_KM2,id,left,top,right,bottom,...,AP3_NU_END,AP3_NO_BAI,Shape_Leng,Shape_Area,deprived_a,_count,_sum,_mean,area_total,geometry
10,1515.0,3550308,São Paulo,SP,1521.202,1515.0,313521.320095,7.410579e+06,313621.320095,7.410479e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,9999.413,"POLYGON ((-46.82392 -23.40399, -46.82393 -23.4..."
15,1520.0,3550308,São Paulo,SP,1521.202,1520.0,313521.320095,7.410079e+06,313621.320095,7.409979e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,9999.413,"POLYGON ((-46.82398 -23.40851, -46.82399 -23.4..."
16,1521.0,3550308,São Paulo,SP,1521.202,1521.0,313521.320095,7.409979e+06,313621.320095,7.409879e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,9999.413,"POLYGON ((-46.82399 -23.40941, -46.82400 -23.4..."
23,2243.0,3550308,São Paulo,SP,1521.202,2243.0,313621.320095,7.410579e+06,313721.320095,7.410479e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,9999.422,"POLYGON ((-46.82294 -23.40400, -46.82295 -23.4..."
24,2244.0,3550308,São Paulo,SP,1521.202,2244.0,313621.320095,7.410479e+06,313721.320095,7.410379e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,9999.422,"POLYGON ((-46.82295 -23.40491, -46.82296 -23.4..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154230,343055.0,3550308,São Paulo,SP,1521.202,343055.0,360421.320095,7.399779e+06,360521.320095,7.399679e+06,...,167.0,CIDADE KEMEL,0.016803,0.000005,1871.115857,NaN,NaN,NaN,10003.191,"POLYGON ((-46.36607 -23.50620, -46.36608 -23.5..."
154231,343056.0,3550308,São Paulo,SP,1521.202,343056.0,360421.320095,7.399679e+06,360521.320095,7.399579e+06,...,167.0,CIDADE KEMEL,0.016803,0.000005,359.875975,NaN,NaN,NaN,10003.191,"POLYGON ((-46.36608 -23.50711, -46.36609 -23.5..."
154232,343057.0,3550308,São Paulo,SP,1521.202,343057.0,360421.320095,7.399579e+06,360521.320095,7.399479e+06,...,167.0,CIDADE KEMEL,0.016803,0.000005,23.939749,NaN,NaN,NaN,10003.191,"POLYGON ((-46.36609 -23.50801, -46.36610 -23.5..."
154233,343058.0,3550308,São Paulo,SP,1521.202,343058.0,360421.320095,7.399479e+06,360521.320095,7.399379e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,10003.191,"POLYGON ((-46.36610 -23.50891, -46.36611 -23.5..."
154234,343059.0,3550308,São Paulo,SP,1521.202,343059.0,360421.320095,7.399379e+06,360521.320095,7.399279e+06,...,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,10003.191,"POLYGON ((-46.36611 -23.50981, -46.36612 -23.5..."

In [13]:
non_deprived = grid[(pd.isnull(grid['deprived_a'])) & (grid['_mean'] > 10)]
deprived_sample_data = grid[(grid['deprived_a'] / 100) > 60]

In [14]:
non_deprived_sampled_data, _ = train_test_split(non_deprived, train_size=len(deprived_sample_data), random_state=42)
non_deprived_sampled_data

,fid,CD_MUN,NM_MUN,SIGLA,AREA_KM2,id,left,top,right,bottom,...,AP3_NU_END,AP3_NO_BAI,Shape_Leng,Shape_Area,deprived_a,_count,_sum,_mean,area_total,geometry
81230,123970.0,3550308,São Paulo,SP,1521.202,123970.0,330321.320095,7.395479e+06,330421.320095,7.395379e+06,...,NaN,None,NaN,NaN,NaN,0.050939,3.660292,71.856361,10000.891,"POLYGON ((-46.66127 -23.54216, -46.66129 -23.5..."
47070,84653.0,3550308,São Paulo,SP,1521.202,84653.0,324921.320095,7.395979e+06,325021.320095,7.395879e+06,...,NaN,None,NaN,NaN,NaN,0.050935,3.410001,66.948439,10000.431,"POLYGON ((-46.71410 -23.53707, -46.71411 -23.5..."
99812,146007.0,3550308,São Paulo,SP,1521.202,146007.0,333321.320095,7.375779e+06,333421.320095,7.375679e+06,...,NaN,None,NaN,NaN,NaN,0.051008,0.794262,15.571296,10001.141,"POLYGON ((-46.63410 -23.72035, -46.63411 -23.7..."
105421,153925.0,3550308,São Paulo,SP,1521.202,153925.0,334421.320095,7.384779e+06,334521.320095,7.384679e+06,...,NaN,None,NaN,NaN,NaN,0.050978,1.372575,26.925068,10001.231,"POLYGON ((-46.62231 -23.63920, -46.62232 -23.6..."
21992,57194.0,3550308,São Paulo,SP,1521.202,57194.0,321121.320095,7.375479e+06,321221.320095,7.375379e+06,...,NaN,None,NaN,NaN,NaN,0.051003,1.426643,27.971584,10000.099,"POLYGON ((-46.75377 -23.72174, -46.75379 -23.7..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17272,51904.0,3550308,São Paulo,SP,1521.202,51904.0,320421.320095,7.394879e+06,320521.320095,7.394779e+06,...,NaN,None,NaN,NaN,NaN,0.050936,3.273031,64.257339,10000.037,"POLYGON ((-46.75830 -23.54651, -46.75831 -23.5..."
112656,167618.0,3550308,São Paulo,SP,1521.202,167618.0,336321.320095,7.398679e+06,336421.320095,7.398579e+06,...,NaN,None,NaN,NaN,NaN,0.050931,3.449973,67.738403,10001.385,"POLYGON ((-46.60216 -23.51389, -46.60217 -23.5..."
140206,273188.0,3550308,São Paulo,SP,1521.202,273188.0,350821.320095,7.397679e+06,350921.320095,7.397579e+06,...,NaN,None,NaN,NaN,NaN,0.050940,3.052912,59.930961,10002.506,"POLYGON ((-46.46028 -23.52431, -46.46029 -23.5..."
1987,21937.0,3550308,São Paulo,SP,1521.202,21937.0,316321.320095,7.406779e+06,316421.320095,7.406679e+06,...,NaN,None,NaN,NaN,NaN,0.050894,1.175429,23.095774,9999.669,"POLYGON ((-46.79699 -23.43862, -46.79700 -23.4..."
37495,74036.0,3550308,São Paulo,SP,1521.202,74036.0,323421.320095,7.365679e+06,323521.320095,7.365579e+06,...,NaN,None,NaN,NaN,NaN,0.051038,0.714301,13.995389,10000.301,"POLYGON ((-46.73239 -23.81048, -46.73240 -23.8..."

In [15]:
deprived_sample_data['class'] = 1
non_deprived_sampled_data['class'] = 0
sampled_data = pd.concat([deprived_sample_data, non_deprived_sampled_data])
sampled_data

/Users/joaopedro/env/lib/python3.8/site-packages/geopandas/geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,fid,CD_MUN,NM_MUN,SIGLA,AREA_KM2,id,left,top,right,bottom,...,AP3_NO_BAI,Shape_Leng,Shape_Area,deprived_a,_count,_sum,_mean,area_total,geometry,class
107,4450.0,3550308,São Paulo,SP,1521.202,4450.0,313921.320095,7.408279e+06,314021.320095,7.408179e+06,...,ANHANGUERA,0.02487,0.000011,7151.248741,0.050887,0.534391,10.501437,9999.450,"POLYGON ((-46.82029 -23.42480, -46.82030 -23.4...",1
108,4451.0,3550308,São Paulo,SP,1521.202,4451.0,313921.320095,7.408179e+06,314021.320095,7.408079e+06,...,ANHANGUERA,0.02487,0.000011,7923.951010,0.050888,0.534394,10.501437,9999.450,"POLYGON ((-46.82030 -23.42571, -46.82031 -23.4...",1
139,5178.0,3550308,São Paulo,SP,1521.202,5178.0,314021.320095,7.408279e+06,314121.320095,7.408179e+06,...,ANHANGUERA,0.02487,0.000011,9999.459049,0.050887,0.534391,10.501437,9999.459,"POLYGON ((-46.81931 -23.42481, -46.81932 -23.4...",1
140,5179.0,3550308,São Paulo,SP,1521.202,5179.0,314021.320095,7.408179e+06,314121.320095,7.408079e+06,...,ANHANGUERA,0.02487,0.000011,8237.508823,0.050888,0.534395,10.501437,9999.459,"POLYGON ((-46.81932 -23.42572, -46.81934 -23.4...",1
141,5180.0,3550308,São Paulo,SP,1521.202,5180.0,314021.320095,7.408079e+06,314121.320095,7.407979e+06,...,ANHANGUERA,0.02487,0.000011,8190.512394,0.050888,0.278058,5.464097,9999.459,"POLYGON ((-46.81934 -23.42662, -46.81935 -23.4...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17272,51904.0,3550308,São Paulo,SP,1521.202,51904.0,320421.320095,7.394879e+06,320521.320095,7.394779e+06,...,None,NaN,NaN,NaN,0.050936,3.273031,64.257339,10000.037,"POLYGON ((-46.75830 -23.54651, -46.75831 -23.5...",0
112656,167618.0,3550308,São Paulo,SP,1521.202,167618.0,336321.320095,7.398679e+06,336421.320095,7.398579e+06,...,None,NaN,NaN,NaN,0.050931,3.449973,67.738403,10001.385,"POLYGON ((-46.60216 -23.51389, -46.60217 -23.5...",0
140206,273188.0,3550308,São Paulo,SP,1521.202,273188.0,350821.320095,7.397679e+06,350921.320095,7.397579e+06,...,None,NaN,NaN,NaN,0.050940,3.052912,59.930961,10002.506,"POLYGON ((-46.46028 -23.52431, -46.46029 -23.5...",0
1987,21937.0,3550308,São Paulo,SP,1521.202,21937.0,316321.320095,7.406779e+06,316421.320095,7.406679e+06,...,None,NaN,NaN,NaN,0.050894,1.175429,23.095774,9999.669,"POLYGON ((-46.79699 -23.43862, -46.79700 -23.4...",0
37495,74036.0,3550308,São Paulo,SP,1521.202,74036.0,323421.320095,7.365679e+06,323521.320095,7.365579e+06,...,None,NaN,NaN,NaN,0.051038,0.714301,13.995389,10000.301,"POLYGON ((-46.73239 -23.81048, -46.73240 -23.8...",0

In [16]:
sampled_data.to_file('../QGIS/aglomerados_subnormais/shapefile_sampled_data/shapefile_sampled_data.shp')